{
  // Babel6.0以后拆分了几个独立的包，并以插件的机制来构筑。
  // @babel/core是Babel的核心功能包，必须安装
  // @babel/preset-env能根据当前的运行环境，自动确定需要的plugins和polyfills。主要负责将代码转为ES5
  // @bable-polyfill把没有的API挂载到全局对象，也就是所谓的“垫片”
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        // corejs的值需与安装的core-js的版本一致
				// 可以通过npm ls core-js 查看core-js的版本号
        "corejs": "2.6.11",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "env": {
	"test": {
		"plugins": ["istanbul"]
	}
  }
}